<%- include('../layout/adminHeader.ejs') %>
 <!-- <style>
  #pie-chart {
     border-radius: 50%; 
  }
 </style> -->

<div class="row">

    <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg mb-2">
            <div class="card">
              <div class="card-body">
                <espan class="fw-semibold d-block mb-1">Today Orders</espan>
                    <h3 class="card-title text-nowrap mb-1"><%= todaySales %></h3>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg mb-2">
            <div class="card">
              <div class="card-body">
                <span class="fw-semibold d-block ">Today Revenue</span>
              <h3 class="card-title text-nowrap mb-1">₹ <%= revenue %></h3>
              </div>
            </div>
          </div>
       </div>
       <div class="row">
        <div class="col-md-12 col-lg mb-2">
          <div class="card">
            <div class="card-body">
              <espan class="fw-semibold d-block mb-1">Total Orders</espan>
                  <h3 class="card-title text-nowrap mb-1"><%= totalsales %></h3>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg mb-2">
          <div class="card">
            <div class="card-body">
              <span class="fw-semibold d-block mb-1">Total Revenue</span>
            <h3 class="card-title text-nowrap mb-1">₹ <%= Revenue %></h3>
            </div>
          </div>
        </div>
     </div>
 
    </div>
    <div class="container-fluid pt-4 px-4">
      <div class="row g-4">
          <div class="col-sm-12 col-xl-6">
  
              <div class=" text-center linechart rounded p-4">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                      <h6 class="mb-0">Worldwide Sales</h6>
                    
                  </div>
                  <canvas id="line-chart"></canvas>
              </div>
  
              <div class=" text-center rounded p-4">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                      <h6 class="mb-0">Worldwide Sales</h6>
                      
                  </div>
                  <canvas id="salesChart"></canvas>
              </div>
              
          </div>
  
          <div class="col-sm-12 col-xl-6">
              <div class=" text-center rounded p-3">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                      <h6 class="mb-0">Salse & Revenue</h6>
                    
                  </div>
                  <canvas id="pie-chart"></canvas>
              </div>
          </div>
      </div>
  </div>
  
  <!-- Sales Chart End -->
  
  
  
  <!-- Widgets Start -->
  
  <!-- Widgets End -->
  
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  
  
  <span id="totalsales" hidden><%= totalsales %>  </span>
  <span id="ordershipped" hidden><%= Ordershipped %>  </span>
  <span id="orderpending" hidden><%= Orderpending %>  </span>
  <span id="ordercancelled" hidden><%= Ordercancelled %>  </span>
  <span id="OrderReturn" hidden><%= OrderReturn %>  </span>
  <span id="OrderRefunded" hidden><%= OrderRefunted %>  </span>
  
  <span id="monthlysales" hidden><%= JSON.stringify(salesCountByMonth) %></span>
 </div> 
  </div>


<script>
  var salesCountByMonth = JSON.parse(document.getElementById('monthlysales').textContent);
  const salesCountByMonthObj = {
  Jan: 0,
  Feb: 0,
  March: 0,
  April: 0,
  May: 0,
  June: 0,
  July:0,
  August:0,
  September:0
  };
  
  
  salesCountByMonth.forEach((monthData) => {
  const { month, count } = monthData;
  switch (month) {
      case 1:
      salesCountByMonthObj.Jan = count;
      break;
      case 2:
      salesCountByMonthObj.Feb = count;
      break;
      case 3:
      salesCountByMonthObj.March = count;
      break;
      case 4:
      salesCountByMonthObj.April = count;
      break;
      case 5:
      salesCountByMonthObj.May = count;
      break;
      case 6:
      salesCountByMonthObj.June = count;
      break;
      case 7:
      salesCountByMonthObj.July = count;
      break;
      case 7:
      salesCountByMonthObj.August = count;
      break;
      case 8:
      salesCountByMonthObj.September = count;
      break;
      default:
      break;
  }
  });
  
  
  const salesCountJan = salesCountByMonthObj.Jan;
  const salesCountFeb = salesCountByMonthObj.Feb;
  const salesCountMarch = salesCountByMonthObj.March;
  const salesCountApril = salesCountByMonthObj.April;
  const salesCountMay = salesCountByMonthObj.May;
  const salesCountJune = salesCountByMonthObj.June;
  const salesCountJuly = salesCountByMonthObj.July;
  const salesCountAugust = salesCountByMonthObj.August;
  const salesCountSeptember = salesCountByMonthObj.September;
  // Access the chart labels and data passed from the route
  
  // Create the chart
  new Chart(document.getElementById('line-chart'), {
  type: 'line',
  data: {
  labels: ["jan","feb","march","april","may","june","july","august","september"],
  datasets: [{
  label: 'Sales',
  data: [ salesCountJan,salesCountFeb,salesCountMarch,salesCountApril,salesCountMay,salesCountJune,salesCountJuly,salesCountAugust,salesCountSeptember],
  backgroundColor: 'rgba(75, 192, 192, 0.2)',
  borderColor: 'rgba(75, 192, 192, 1)',
  borderWidth: 1
  }]
  },
  options: {
  scales: {
  y: {
      beginAtZero: true
  }
  }
  }
  });
  
  // second
  
  let totalsales=Number(document.getElementById('totalsales').innerHTML)
  let ordershipped=Number(document.getElementById('ordershipped').innerHTML)
  let orderpending=Number(document.getElementById('orderpending').innerHTML)
  let ordercancelled=Number(document.getElementById('ordercancelled').innerHTML)
  let OrderReturn=Number(document.getElementById('OrderReturn').innerHTML)
  let OrderRefunded=Number(document.getElementById('OrderRefunded').innerHTML)
  console.log(totalsales, ordershipped, orderpending, ordercancelled,OrderReturn,OrderRefunded)
  
  
  new Chart(document.getElementById('pie-chart'), {
  type: 'pie',
  data: {
  labels: ['Orders Delivered', 'Orders Shipped', 'Orders Pending', 'OrderRefunded', 'Orders Cancelled','Order Return'],
  datasets: [{
      label: 'Sales',
      data: [totalsales, ordershipped, orderpending, OrderRefunded, ordercancelled,OrderReturn],
      backgroundColor: [
          "rgba(60,179,113,0.7)", 
          "rgba(126, 100, 48, 0.7)",
          "rgba(233,105,44)", 
          "rgba(0,33,71, 0.7)",
          "rgba(165,42,42,0.7)",
          "rgba(260, 85, 105, 0.7)"
      ],
      borderColor: 'rgba(75, 192, 192, 1)',
      borderWidth: 1
  }]
  },
  options: {
  scales: {
  y: {
      beginAtZero: true
  }
  }
  }
  });
  
  // Access the chart labels and data passed from the route
  const chartLabels = JSON.parse('<%- chartLabels %>')
  const chartData = JSON.parse('<%- chartData %>')
  
  // Create the chart
  new Chart(document.getElementById('salesChart'), {
  type: 'bar',
  data: {
  labels: chartLabels,
  datasets: [{
  label: 'Revenue',
  data: chartData,
  backgroundColor: 'rgba(50, 150, 150, 0.4)',
  borderColor: 'rgba(75, 192, 192, 1)',
  borderWidth: 1
  }]
  },
  options: {
  scales: {
  y: {
      beginAtZero: true
  }
  }
  }
  });
  </script>
  
<%- include('../layout/adminFooter.ejs') %>