
<%- include('../layout/header.ejs') %>

		<div class="py-1 bg-black">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+ 1235 2355 98</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">youremail@email.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container"> <div class="logo">
			<img src="images/floris-logo.png" alt="logo" style="width: 150px;">
		  </div>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="home" class="nav-link">Home</a></li>
	          <!-- <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a> -->
              <!-- <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="shop.html">Shop</a>
                <a class="dropdown-item" href="product-single.html">Single Product</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="checkout.html">Checkout</a>
              </div> -->
            <!-- </li> -->
	          <li class="nav-item"><a href="" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
	          <li class="nav-item cta cta-colored"><a href="cartt" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
            <h1 class="mb-0 bread">Checkout</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
			<div class="col-md-6">
				<div class="cart-detail bg-light p-3 p-md-4">
				  <h3 class="billing-heading mb-4">Your Address</h3>
				  
					  <div class="form-group d-flex justify-content-between align-items-start">
						<div class="address-details">
						  <h6 class="my-0 text-muted">
							<%=  address.name %> <br>
							<%= address.mobile %> <br>
							<%= address.email %> <br>
							<%= address.district %> <br>
							<%= address.state %> <br>
							<%= address.pincode %> <br>
						  </h6>
						</div>
					  </div>
					
				</div>
			  </div>
			  
	          	<div class="col-md-6">
	          		<div class="cart-detail bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Payment Method</h3>
   
                      <div class="check_box_one cashon_delivery">
                        <form action="/placeOrder?id=<%= address._id%>" method="post">
                            

                            <div class="form-group">
                              <div class="col-md-12">
                                <div class="radio">
									<input
									type="hidden"
									name="selectedPaymentMethod"
									id="selectedPaymentMethod"
									value=""
								  />
									<label>
										<input type="checkbox" value="COD" name="payment_method" class="checkboxx">
										Cash On Delivery
									  </label>
									  <label>
										
											
												<input type="checkbox" checked id="f-option5" name="payment_method"
													value="razorpay">
												<label for="f-option5">Razor Pay</label>
									  </label>
									 
									  <div class="col-md-6 wallet">
										<% let Ttotal =user.totalPrice %>
										<% if (Ttotal<=user.totalWallet) { %>
									  <label class="anim">
										<input type="checkbox" value="wallet" name="payment_method" class="checkbox" onchange="handlePaymentSelection(this)">
										<label for="">Pay with Wallet</label>
									  </label>
									  
										<% } %>	<br>
									  
									</div>
                                     <button class="col submit check_out" id="placeOrderButton" type="submit">Place Order</button>
                                 
                                </div>
                              </div>
                            </div>
                            
                        </form>
                    </div>
                   
				</div>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->

	<script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

document.querySelectorAll('input[name="paymentMethodRadio"]').forEach((radio) => {
  radio.addEventListener("click", () => {
    const selectedPaymentMethod = radio.value;
    if (selectedPaymentMethod) {
      document.getElementById("selectedPaymentMethod").value = selectedPaymentMethod;
      enablePlaceOrderButton();
    }
  });
});
	
	document.getElementById("placeOrderButton").addEventListener("click", async () => {
		const payment_method = document.querySelector('input[name="payment_method"]:checked').value;
		
		if (payment_method === "razorpay") {
		  try {
			const response = await axios.post('/createOrder', {
				payment_method:payment_method
			});
			   console.log(response.data,"response dataaa");
			const razorpayOrder = response.data.payment;
			
			const rzpOptions = {
			  key: "rzp_test_oqfNiLDZPoGSLS",
			  order_id: razorpayOrder.id,
			  amount: razorpayOrder.amount,
			  currency: "INR",
			  name: "Your Store",
			  description: "Order Payment",
			  handler: function (response) {
			   window.location.href="/confirms";
				}
				// You can perform further actions here, such as confirming the order.
			};
	
			const rzp = new Razorpay(rzpOptions);
			rzp.open();
	
		  } catch (error) {
			console.error(error);
			// Handle the error
		  }
		} else {
		  // Handle other payment methods
		}
	  });

</script>

<script>
	function handlePaymentSelection(checkbox) {
	  var checkboxes = document.getElementsByClassName("wallet");
	  var placeOrderBtn = document.getElementById("placeOrderButton");
	  
	  for (var i = 0; i < checkboxes.length; i++) {
		if (checkboxes[i] !== checkbox) {
		  checkboxes[i].checked = false;
		}
	  }
	  
	  placeOrderButton.disabled = !checkbox.checked;
	}
  </script>