<%- include('../layout/header.ejs') %>
  <body class="goto-here">
		<div class="py-1 bg-black">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+ 1235 2355 98</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">youremail@email.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
        <div class="logo">
        <img src="images/floris-logo.png" alt="logo" style="width: 150px;">
      </div>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="showProduct" class="nav-link">shop</a></li>
	          <!-- <li class="nav-item dropdown active"> -->
              <!-- <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="shop.html">Shop</a>
                <a class="dropdown-item" href="product-single.html">Single Product</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="checkout.html">Checkout</a>
              </div> -->
            <!-- </li> -->
	          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
			  
				  <li class="nav-item cta cta-colored"><a href="/profile"class="nav-link">Profile</a></li>
				  <li class="nav-item cta cta-colored"><a href="/cartt" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
				  
				  
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="home">Home</a></span> <span>Shop</span></p>
            <h1 class="mb-0 bread">Shop</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5">
              <div class="d-flex flex-column">
                <div class="row">
                  <a href="" class="image-popup prod-img-bg">
                    <img src="/uploads/<%= product.images[0] %>" id="main_product_image" class="img-fluid" alt="Colorlib Template" style=" width:450px";>
                  </a>
                </div>
                <div class="d-flex flex-row">
                  <!-- Thumbnail Images -->
                  <ul id="thumbnail" class="d-flex flex-row p-3 list-unstyled">
                    <% product.images.forEach((image, index) => { %>
                      <li class="mr-3">
                        <img
                          onclick="changeImage(this)"
                          src="/uploads/<%= product.images[index] %>"
                          width="100"
                        />
                      </li>
                    <% }) %>
                  </ul>
                </div>
              </div>
            </div>
            
         
          
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3><%=product.name%></h3>
    				<h5 class="text-muted"><%=product.type%></h5>
    				<p class="price"><span><%= product.price.toLocaleString(undefined, { style: 'currency', currency: 'INR' }) %></span></p>
    				<p><%=product.description%></p>
						<div class="row mt-4">
							<div class="col-md-6">
								<div class="form-group d-flex">
		              <div class="select-wrap">
	                  <div class="icon"></span></div>
	                  
	                </div>
		            </div>
							</div>
							<div class="w-100"></div>
						
	          	<div class="w-100"></div>
	          	
          	</div>
            
                        <p><a type="button" class="btn btn-black py-3 px-5 mr-2" id="addToCartBtn_<%= product.id %>"onclick="addToCart('<%= product.id %>')">ADD TO CART</a>
                          <a type="button" class="btn btn-primary py-3 px-5" id="addToWishlistBtn_<%= product.id %>"onclick="addToWishlist('<%= product.id %>')">WISHLIST</a></p>
    			

          </button></div>
    		</div>


			<div class="product__details__content my-5 py-3">
				<div class="container">
				  <div class="col">
					<div class="demo-inline-spacing mt-3">
					  <div class="" style="border-bottom: 1px solid #000; width: 100%;">
					  <div class="list-group list-group-horizontal-md text-md-center col-6"  >
						<style>
						  .list-group-item.active{
							background-color: #111111;
							border-color: #111111;
						  }
						</style>
						<a
						  class="list-group-item list-group-item-action active"
						  id="home-list-item"
						  data-bs-toggle="list"
						  href="#horizontal-home"
						  style="border: none;"
						  >Description</a
						>
						<a
						  class="list-group-item list-group-item-action "
						  id="profile-list-item"
						  data-bs-toggle="list"
						  href="#horizontal-profile"
						  style="border: none;"
						  >Reviews (<%= review.length %>)</a
						>
					  </div>
					</div>
					  <div class="tab-content px-0 mt-4">
						<div class="tab-pane fade show active" id="horizontal-home">
						  <h5 class="mb-3">Product Information</h5>
						  <%= product.description %>
						</div>
						<div class="tab-pane fade " id="horizontal-profile" style="max-height: 500px; overflow: auto; scroll-behavior: smooth;">
						  <% if(review.length){ %>
						  <% review.forEach(review=>{ %>
							<div class="container row flex-row bg-light p-3 rounded-3 mb-3">
							 
							  <div class="d-flex align-items-center" style="margin-right: 100px; margin-left: 100px;">
								<h5 class=""><%= review.userName %></h5> &nbsp; &nbsp; &nbsp;
								<i class="bx bx-check-circle fs-5 ms-1"></i>
								<p class="ms-2 mb-0" style="opacity: 80%;">Certified Buyer</p>
							  </div>
							  <div class="rating-stars mb-2">
								<% for(let i=0;i<review.rating;i++){ %>
								  <span class="star" ><i class="fa-solid fa-star"></i></span>
							  <% } %>
							 
							  <!-- <hr style="background-color: #000; margin: 10px 0;"> -->
							  <div>
								<h5><%= review.reviewText %></h5>
							  </div>
							  <p class="mb-0 mt-2" style="opacity: 80%;"><%= review.timestamp.toLocaleDateString('en-US',{weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}) %></p>
							</div>
						</div>
						  <% }) %>
						  <% }else{ %>
							<div class="container d-flex justify-content-center align-items-center bg-light" style="height: 150px;">
							  <h5>No Reviews</h5>
							</div>
							<% } %>
						</div>
						
					  </div>
					</div>
				  </div>
				</div>
				
			  </div>
			

    		
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function changeImage(element) {

var main_prodcut_image = document.getElementById('main_product_image');
main_prodcut_image.src = element.src;
  }

  function addToCart(productId) {
  console.log('Adding product to cart with ID:', productId);

  fetch(`/cartt/${productId}`, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  })
    .then((response) => response.json())
    .then((data) => {
      console.log('Response data:', data);

      // Handle the response data
      if (data.status === 'success') {
        alert(data.message); // Show a success message
      } else {
        alert(data.message); // Show an error message
      }
    })
    .catch((error) => {
      console.error(error);
    });
}
    </script>

<script>
function addToWishlist(productId) {
	// console.log('Adding product to cart with ID:', productId);
  
	fetch(`/wishlist/${productId}`, {
	  method: 'GET',
	  headers: {
		'Content-Type': 'application/json',
	  },
	})
	  .then((response) => response.json())
	  .then((data) => {
		console.log('Response data:', data);
  
		// Handle the response data
		if (data.status === 'success') {
		  alert(data.message); // Show a success message
		} else {
		  alert(data.message); // Show an error message
		}
	  })
	  .catch((error) => {
		console.error(error);
	  });
  }
	  </script>
    <%- include('../layout/footer.ejs') %>